@tailwind base;
@tailwind components;
@tailwind utilities;
/* Navbar hover effect */
.nav-item {
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #22d3ee;
}

/* Underline animation (premium feel) */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #22d3ee;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
.home-image-card {
  width: 260px;
  height: 260px;
  padding: 5px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.45);

  transition: all 0.35s ease;
}

.home-image-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow:
    0 0 25px rgba(56, 189, 248, 0.35),
    0 25px 60px rgba(0, 0, 0, 0.6);
}

.home-image {
  width: 260px;
  height: 260px;
  object-fit:fill;
  border-radius: 15px;
}
